* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/sunny-day.jpg);
    background-size: cover;
}

.gato {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/kitten-large.png);
    background-repeat: no-repeat;
}

@media(max-width: 1000px) {
    .back{
        background-image: url(../assets/images/dawn.png);
    }
    .gato{
        background-image: url(../assets/images/kitten-medium.png);
    }
}

@media(max-width: 650px) {
    .back {
        background-image: url(../assets/images/night.jpg);
    }
    .gato {
        background-image: url(../assets/images/kitten-small.png);
    }
}